
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');



body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.25;
}

body {
  background-color: #202227;
  color: white;
}

.App-header{
  overflow: auto;
  padding: 20px 10px;
}

.title {
  float: left;
  line-height: 0.3;
  margin-left: 0.5em;
}

.header-nav {
  margin: auto;
  float: right;
}

.header-nav a {
  
  float: left;
  padding: 12px;
  line-height: 25px;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.header-nav a:hover {
  color: #898a8b;
  text-decoration: underline;
  animation: hoverLink 0.2s ease-out
}

@keyframes hoverLink {
  from {
    color: white;
    text-decoration: none;
  }
  to {
    color: #898a8b;
    text-decoration:underline;
  }
}
#azeem-intro {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  justify-content: center;
  animation-name: slidingstep1;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
  animation-fill-mode: forwards;
}

@keyframes slidingstep1 {
  0% {
    left: -100px;
    opacity: 0;
  }
  5% {
    left: -75px;
    opacity: 0.2;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

#azeem-intro img{
  border-radius: 50%;
  width: 20%;
  
}
#contact {

  position: relative;
  text-align: center;
  top: 40%;
  position: absolute;
  align-items: center;
  width: 100vw;
  animation-name: slidingstep1;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
  animation-fill-mode: forwards;
}
#contact-info {
  
  display: flex;
  justify-content: center;
  top: 50%;
  position: absolute;
  align-items: center;
  width: 100vw;
  
  animation-name: slidingstep1;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
  animation-fill-mode: forwards;
}


.fa {
  
  padding: 20px;
  font-size: 30px;
  text-decoration: none;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
 
}

.fa-linkedin-square {
  background: #0a66c2;
  color: white;
  margin: 20px;
  float: left;
}

.fa:hover {
  cursor:pointer;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

.fa-github-square {
  background: #181a21;
  color: white;
  margin: 20px;
  float: left;
  
}

.fa-envelope-o {
  background: #ff5000;
  color: white;
  margin: 20px;
  float: left;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  animation-name: slidingstep1;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
  animation-fill-mode: forwards;
}

.project-col {
  display: flex;
  flex-wrap: wrap;
  
  margin: auto;
  border-width: 2px;
  border-color: #898a8b;
}
.project-col h4 {
  text-align: center;
}
@media screen and (max-width: 732px) {
  .App-header a {
    float: none;
    display: block;
    text-align: left;
    line-height: 1;
  }
  .title{
    float: none;
  }
  .header-nav {
    float: none;
  }
  #project {
    display: block;
  }
  #contact {
    display: block;
    position: relative;
  }

  #projects {
    display: block;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
